*{
    color:red;
}

h1{
    color: blue;
}

#headingOne{
    color: purple;
}

p{
    color: green;
}

button{
    color: brown;
    background-color: lightgray;
}
body{
    background-color: rgb(236, 255, 25);
}

.myClass{
    color: rgb(4, 0, 255);
}