*{
    color:red;
}

h1{
    font-weight: bold;
    color: blue;
}

#headingOne{
    color: purple;
}

p{
    color: green;
    text-align: center;
    font-weight: 500;
    font-family: comic sans ms;
    font-size: 15px;
}

button{
    color: brown;
    background-color: lightgray;
}
body{
    background-color: rgb(236, 255, 25);
}

.myClass{
    color: rgb(4, 0, 255);
    text-decoration: underline;
}