*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
}

#logo{
    font-size: 25px;
    color: #f08804;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    background-color: #f08804;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

a{
    margin-right: 200px;
    text-decoration: none;
}